<header class="header">
    <nav class="navigation">
        <li class="nav-item"><a routerLink="/recipes">Recipes</a></li>
        <ul class="nav-guest">
            <li class="nav-item"><a routerLink="/login">Login</a></li>
            <li class="nav-item"><a routerLink="/register">Register</a></li>
        </ul>
        <ul class="nav-user">
            <li class="nav-item"><a routerLink="/my-recipes">My recipes</a></li>
            <li class="nav-item"><a href="">Logout</a></li>
        </ul>
    </nav>
</header>